{% extends "knp_menu.html.twig" %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {% if value is not none and value is not same as(false) %}
            {{ ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block linkElement %}
    <a href="{{ item.uri }}">
        <i class="icon-{{ item.linkAttributes['icon']|default('list-alt') }}"></i>
        <span class="menu-text">{{ block('label')|trans }}</span> {% if item.children %}<b class="arrow icon-angle-down"></b>{% endif %}
    </a>
{% endblock %}

{% block spanElement %}
    {% set html_properties = '' %}
    {% for key,value in item.linkAttributes %}
        {% set html_properties = html_properties ~ ' ' ~ key ~ '="' ~ value %}
    {% endfor %}
    <a href="{{ item.uri }}" {{ html_properties }}>
        <i class="icon-{{ item.linkAttributes['icon']|default('list-alt') }}"></i>
        <span class="menu-text">{{ block('label')|trans }}</span> {% if item.children %}<b class="arrow icon-angle-down"></b>{% endif %}
    </a>
{% endblock %}
